
body {
  background-color: black;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: #bc13fe;
}


label {
  color: #bc13fe;
}

li {
  color: #bc13fe;
}

li a {
  color: #bc13fe;
}

a {
  color: #bc13fe;
}
