{% extends "base.html" %}

{% block content %}

<h3>About w457361n</h3><br />

<p class='small'>This pastebin clone was written with Django 1.7 and Python 3.4<br /><br />

This is just the beginning of the project. I hope to soon implement new features and get it up and hosting. <br /><br />

My immediate goals are to add expiration times for pastes and a server side clean up script. <br /><br />

Also, I'd like to create user accounts that come with some extra priviledges, such as, encryption and password restrictions to pastes, an api key, a url-shortener (tinyurl clone), user landing pages, the ability to link/tag links and pastes together, and post things as private or public.  
<br /><br />
I'd also like to eventually enable some file sharing abilities. This is just the start folks.. Even further in the future I would like to dual deploy this as a tor hidden service. <br /> <br />
</p>


{% endblock %}
